body {
  text-align: center;
  background:black;
  color:white;
  font-family:verdana;
  margin:0;
}

/* scrollbar width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px 10px 0px 10p;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px 10px 0px 10px;
}

div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  margin-bottom: 8px;
}
div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  font-size:16px;
}
div.scrollmenu a:hover {
  background-color: #555;
}

textarea {
  width: 32.2%;
  float: top;
  min-height: 250px;
  overflow: scroll;
  margin: auto;
  display: inline-block;
  background: black;
  color:white;
  outline: none;
  font-family: verdana;
  font-size: 14px;
  border-radius:10px 10px 0px 10px;
}

iframe {
  resize: both;
  overflow: auto;
  bottom: 0;
  position: relative;
  width: 100%;
  height: 100%;
  background:white;
}

#Iframe-Resizer-Fix {
  resize: both;
  overflow: auto;
  height:19.2em;
  position:relative
}

::-webkit-resizer {
background:black;
border:dashed 2px lime;
width:25px;
height:25px;
}

#btn-html {
background: #333;
color: white;
border:0px;
margin-right:5px;
border-radius: 5px;
}


#btn-css {
background: #333;
color: white;
border:0px;
margin-right:5px;
border-radius: 5px;
}

#btn-js {
background: #333;
color: white;
border: 0px;
margin-right: 5px;
border-radius: 5px;
}

.control-pad {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 32% 32% 32%; /*Make the grid smaller than the container*/
  grid-gap: 10px;
  margin-bottom: 10px;
}

.control-pad > #button-controls {

}
