body {
background:black;
font-family:Verdana;
height:100%;
margin:2px;
color:white;
}
.main-editor {
height:100%;
}
/* Top Buttons */
.btn {
border:0px 1px 0px 0px black;
margin-bottom:2px;
background:darkscalegray;
font-weight:200;
font-size:13px;
color:white;
}
/* Code Editor */
.first {
height:625px;
width:45%;
float:left;
border:2px solid darkgray;
color:white;
resize:both;
overflow:auto;
}
::-webkit-resizer {
border: 2px solid yellow;
background: blue;
box-shadow: 0 0 2px 5px red;
outline: 2px dashed green;
}
/* .first is contenteditable */
[contenteditable] {
resize:both;
overflow:auto;
}
/* Live view iframe */
.second {
height:100%;
height:625px;
width:53%;
background:white;
resize:both;
overflow:auto;
}
::-webkit-resizer {
border: 2px solid yellow;
background: blue;
box-shadow: 0 0 2px 5px red;
outline: 2px dashed green;
}
/* Scrollbar Width */
::-webkit-scrollbar {
  width: 7px;
}
/* Scrollbar Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
} 
/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: limegreen; 
}
/* Scrollbar Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black; 
}
