body {
background:black;
font-family:Verdana;
height:100%;
margin:2px;
color:white;
}
.main-editor {
height:100%;
}
/* Top Buttons */
.btn {
border:0px 2px 0px 0px black;
float:left;
background:darkscalegray;
font-weight:200;
font-size:13px;
color:white;
margin-bottom:2px;
}
/* Code Editor */
.first {
height:625px;
width:45%;
float:left;
border:2px solid darkgray;
color:white;
/* Needs testing *broken* */
user-select:all;
resize:both;
overflow:auto;
}
/* Untested - NOTE: class .first is contenteditable */
[contenteditable] {
resize:both;
overflow:auto;
}
/* Live view iframe */
.second {
height:100%;
height:625px;
width:53%;
background:white;
}
.third {
height:400px;
width:91.2%;
background:darkslategray;
padding:50px;
color:white;
}
ul {
list-style: none;
float:left;
}
/* Scrollbar Width */
::-webkit-scrollbar {
  width: 7px;
}
/* Scrollbar Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
} 
/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: limegreen; 
}
/* Scrollbar Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black; 
}
